<div ng-if="!splash" class="splash">
    <div class="splash-center">
        <img src="img/logo.png" />
        <p>Splash Page</p>
    </div>
</div>
<div ng-if="splash" class="login-container myfade" dw-loading="login">
    <div class="login-title">
        <h3>{{loginRegister}}</h3>
    </div>
    <div ng-if="loginRegister === 'Login'" class="login-content myfade">
        <form name="form" ng-submit="login()" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <label for="username">Username</label>
                <input autocapitalize="off" type="text" name="username" id="username" class="form-control" ng-model="loginData.username" required />
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="loginData.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                <input type="checkbox" name="checkLogin" id="checkLogin" ng-model="loginData.checkLogin" unchecked />
                <label for="checkLogin">Remember my password</label>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-block">Login</button>
                <a ng-click="switchLoginRegister()" class="btn btn-link btn-block">Create a new account</a>
            </div>
        </form>
    </div>
    <div ng-if="loginRegister === 'Register'" class="login-content myfade">
        <form name="form" ng-submit="register()" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
                <label for="firstname">First Name</label>
                <input type="text" name="firstname" id="firstname" class="form-control" ng-model="registrationData.firstname" required />
                <span ng-show="form.firstname.$dirty && form.firstname.$error.required" class="help-block">First Name is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.lastname.$dirty && form.lastname.$error.required }">
                <label for="lastname">Last Name</label>
                <input type="text" name="lastname" id="lastname" class="form-control" ng-model="registrationData.lastname" required />
                <span ng-show="form.lastname.$dirty && form.lastname.$error.required" class="help-block">Last Name is required</span>
            </div>
            <!-- style="display: table;" -->
            <div class="form-group" ng-class="{ 'has-error': form.birthdate.$dirty && form.birthdate.$error.required }">
                <label for="birthdate">Birth Date</label>
                <input type="date" id="birthdate" value="" class="form-control" ng-model="registrationData.birthdateObj" required />
                <!-- input with datepicker bootstrap
                <input style="display: table-cell; border-top-right-radius: 0; border-bottom-right-radius: 0;" type="text" class="form-control" uib-datepicker-popup ng-model="datepicker.date" is-open="datepicker.popup.opened" datepicker-options="datepicker.dateOptions" ng-required="true" close-text="Close" datepicker-append-to-body="true" required/>
                <span class="input-group-btn" style="display: table-cell; vertical-align: bottom;">
                    <button style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: 0;" type="button" class="btn btn-default" ng-click="datepicker.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                -->
                <span ng-show="form.birthdate.$dirty && form.birthdate.$error.required" class="help-block">Birth Date is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="registrationData.username" required />
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="registrationData.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (form.repassword.$dirty && form.password.$dirty && form.repassword.$viewValue != form.password.$viewValue) || (form.repassword.$dirty && form.repassword.$error.required) }">
                <label for="repassword">Repeat Password</label>
                <input type="password" name="repassword" id="repassword" class="form-control" ng-model="repassword" required />
                <span ng-show="form.repassword.$dirty && form.repassword.$error.required" class="help-block">Password is required</span>
                <span ng-show="form.password.$dirty && form.repassword.$dirty && form.repassword.$viewValue != form.password.$viewValue" class="help-block">Passwords does not match</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.mobile.$dirty && form.mobile.$error.required }">
                <label for="mobile">Mobile Number</label>
                <input type="tel" name="mobile" id="mobile" class="form-control" ng-model="registrationData.mobileNumbers.personal" required />
                <span ng-show="form.mobile.$dirty && form.mobile.$error.required" class="help-block">Mobile Number is required</span>
                <input ng-disabled="!(form.mobile.$viewValue.length > 0)" type="checkbox" name="checkMobile1" id="checkMobile1" checked ng-model="checkMobile[0]" ng-change="setPrimaryMobile(registrationData.mobileNumbers.personal, 0)" />
                <label ng-disabled="!(form.mobile.$viewValue.length > 0)" for="checkMobile1">Make this number primary</label>
                <br />
                <a ng-if="registrationData.mobileNumbers.others.length == 0" class="btn-link add-field" ng-click="addMobileField()"><span class="glyphicon glyphicon-plus-sign"></span> Add another mobile number</a>
            </div>
            <div ng-repeat="m in registrationData.mobileNumbers.others track by $index" class="form-group" ng-class="{ 'has-error': userMobileForm.$dirty && userMobileForm.$error.required }">
                <ng-form name="userMobileForm">
                    <label for="mobile">Other Mobile Number</label>
                    <input type="text" name="mobile" id="mobile" class="form-control" ng-model="registrationData.mobileNumbers.others[$index]" />
                    <input ng-disabled="!(userMobileForm.mobile.$viewValue.length > 0)" type="checkbox" ng-attr-id="{{'checkMobile' + ($index + 2)}}" ng-attr-name="{{'checkMobile' + ($index + 2)}}" ng-model="checkMobile[$index+1]" ng-change="setPrimaryMobile(registrationData.mobileNumbers.others[$index], $index+1)" />
                    <label ng-disabled="!(userMobileForm.mobile.$viewValue.length > 0)" ng-attr-for="{{'checkMobile' + ($index + 2)}}">Make this number primary</label>
                    <br />
                    <a ng-if="registrationData.mobileNumbers.others.length < 4 && $last" class="btn-link add-field" ng-click="addMobileField()"><span class="glyphicon glyphicon-plus-sign"></span> Add another mobile number</a>
                </ng-form>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.personalemail.$dirty && (form.personalemail.$error.required || form.personalemail.$invalid) }">
                <label for="personalemail">Personal Email</label>
                <input type="email" name="personalemail" id="personalemail" class="form-control" ng-model="registrationData.emails.personal" required />
                <span ng-show="form.personalemail.$dirty && form.personalemail.$error.required" class="help-block">Personal email is required</span>
                <span ng-show="form.personalemail.$dirty && form.personalemail.$invalid" class="help-block">Please enter a valid email</span>
                <input ng-disabled="!(form.personalemail.$viewValue.length > 0) || form.personalemail.$invalid" type="checkbox" name="check1" id="check1" checked ng-model="checkEmail[0]" ng-change="setPrimaryEmail(registrationData.emails.personal, 0)" />
                <label ng-disabled="!(form.personalemail.$viewValue.length > 0) || form.personalemail.$invalid" for="check1">Make this email primary</label>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.orgemail.$dirty && (form.orgemail.$error.required || form.orgemail.$invalid) }">
                <label for="orgemail">Organization Email</label>
                <input type="email" name="orgemail" id="orgemail" class="form-control" ng-model="registrationData.emails.organization" />
                <span ng-show="form.orgemail.$dirty && form.orgemail.$invalid" class="help-block">Please enter a valid email</span>
                <input ng-disabled="!(form.orgemail.$viewValue.length > 0) || form.orgemail.$invalid" type="checkbox" name="check2" id="check2" ng-model="checkEmail[1]" ng-change="setPrimaryEmail(registrationData.emails.organization, 1)" />
                <label ng-disabled="!(form.orgemail.$viewValue.length > 0) || form.orgemail.$invalid" for="check2">Make this email primary</label>
                <br />
                <a ng-if="registrationData.emails.others.length == 0" class="btn-link add-field" ng-click="addEmailField()"><span class="glyphicon glyphicon-plus-sign"></span> Add another email</a>
            </div>
            <div ng-repeat="e in registrationData.emails.others track by $index" class="form-group" ng-class="{ 'has-error': userEmailForm.$dirty && (userEmailForm.$error.required || userEmailForm.$invalid) }">
                <ng-form name="userEmailForm">
                    <label for="email">Other Email</label>
                    <input type="email" name="email" id="email" class="form-control" ng-model="registrationData.emails.others[$index]" />
                    <span ng-show="userEmailForm.$dirty && userEmailForm.$invalid" class="help-block">Please enter a valid email</span>
                    <input ng-disabled="!(userEmailForm.email.$viewValue.length > 0) || userEmailForm.email.$invalid" type="checkbox" ng-attr-id="{{'check' + ($index + 3)}}" ng-attr-name="{{'check' + ($index + 3)}}" ng-model="checkEmail[$index+2]" ng-change="setPrimaryEmail(registrationData.emails.others[$index], $index+2)" />
                    <label ng-disabled="!(userEmailForm.email.$viewValue.length > 0) || userEmailForm.email.$invalid" ng-attr-for="{{'check' + ($index + 3)}}">Make this email primary</label>
                    <br />
                    <a ng-if="registrationData.emails.others.length < 3 && $last" class="btn-link add-field" ng-click="addEmailField()"><span class="glyphicon glyphicon-plus-sign"></span> Add another email</a>
                </ng-form>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-block">Submit</button>
                <a ng-click="switchLoginRegister()" class="btn btn-link btn-block">I already have an account</a>
            </div>
        </form>
    </div>
</div>