<div class="scan-container">
    <h1>Hello Vuforia!</h1>
    <div class="scan-buttons">
        <button class="btn btn-default btn-block" id="start-vuforia">Click here to start Vuforia</button>
        <button class="btn btn-default btn-block" id="start-vuforia-with-no-overlay-text">Start Vuforia without overlay text</button>
        <button class="btn btn-default btn-block" id="start-and-stop-vuforia">Start Vuforia and stop it again after 5 seconds</button>
        <button class="btn btn-default btn-block" id="stop-vuforia">Stop Vuforia</button>
        <button class="btn btn-default btn-block" id="start-vuforia-and-keep-open">Start Vuforia and keep it open when image is found</button>
        <button class="btn btn-default btn-block" id="start-vuforia-and-recognise-in-sequence">Start Vuforia and recognise targets in sequence</button>
    </div>
</div>