<div ng-show="showSplash" class="event-registration-container splash-view myfade" ng-style="{'background-color': event.design_color, 'color': event.design_color }">
    <div class="logo-container">
        <img class="logo" ng-src="{{event.logo}}" />
    </div>
    <div class="login-title">
        <h3>Welcome to {{event.name}}</h3>
    </div>
</div>
<div ng-show="showThanks" class="event-registration-container splash-view myfade" ng-style="{'background-color': event.design_color, 'color': event.design_color }">
    <div class="logo-container">
        <img class="logo" ng-src="{{event.logo}}" />
    </div>
    <div class="login-title">
        <h3>Thank you for registering into {{event.name}}</h3>
    </div>
</div>
<div ng-hide="showSplash || showThanks" class="event-registration-container myfade" ng-style="{'background-color': event.design_color, 'color': event.design_color }" dw-loading="eventregistration">
    <div class="login-container myfade" dw-loading="registration">
        <div class="logo-container">
            <img class="logo" ng-src="{{event.logo}}" />
        </div>
        <div class="login-title">
            <h3>Welcome to {{event.name}}</h3>
            <h4 class="sub-title">Please fill the form below</h4>
        </div>
        <div class="login-content myfade">
            <ng-form name="userFieldForm">
                <div class="form-group" ng-repeat="field in event.fields" ng-class="{ 'has-error': userFieldForm[field.field].$dirty && form.field.$error.required }">
                    <label>{{field.label}}</label>
                    <input autocapitalize="off" type="text" name="{{field.field}}" class="form-control" ng-model="user[field.field_name]" ng-required="field.required" />
                    <span ng-show="userFieldForm[field.field].$dirty && userFieldForm[field.field].$error.required" class="help-block">{{field.label}} is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-click="registerEvent()" ng-disabled="userFieldForm.$invalid" class="btn btn-primary btn-block">Continue</button>
                </div>
            </ng-form>
        </div>
    </div>
</div>